.additional-goods {
  display: flex;
  flex-direction: column;
  padding: 25px 20px 35px 20px;
}

.additional-goods__title {
  position: relative;

  width: 280px;
  margin: 0;
  padding-bottom: 36px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: $color-default-black;

  border-bottom: 1px solid $color-very-light-gray;

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    right: -20px;

    width: 53px;

    border: 2px solid $color-apple;
  }
}

.additional-goods__list {
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}

.additional-goods__item {
  list-style: none;
}

.additional-goods__offer {
  display: flex;
  justify-content: center;
  width: 280px;
  height: 290px;
  margin-top: 35px;

  background-image: url("../img/background-additionals-goods.png");
  background-repeat: no-repeat;
  background-position: center;
}

.additional-goods__offer-text {
  position: relative;

  display: flex;
  justify-content: center;
  width: 161px;
  margin-top: auto;
  margin-bottom: 43px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: $ff-arial;
  text-align: center;
  color: $color-default-white;

  &::before {
    content: "";
    position: absolute;
    top: -126px;

    width: 80px;
    height: 78px;

    background: url("../img/icon_gift.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
