.catalog__title {
  margin: 0;
  margin-bottom: 19px;
  padding: 27px 20px 41px 20px;

  font-size: 36px;
  line-height: 36px;
  color: $color-default-black;

  border-top: 1px solid $color-gainsboro;
  border-bottom: 1px solid $color-whisper;
}

.catalog__show-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 20px;

  font-weight: 400;

  border-bottom: 1px solid $color-whisper;
}

.catalog__show-more-text-main {
  margin: 23px 0 8px 0;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $color-black;
  text-transform: uppercase;
}

.catalog__show-more-text-secondary {
  padding-bottom: 21px;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $color-charcoal;
}


@media (min-width: $vp-768) {
  .catalog {
    margin-bottom: 68px;
    padding: 0 30px;
  }

  .catalog__title {
    margin: 65px 0 90px 0;
    padding: 0;

    font-weight: 400;
    font-size: 60px;
    line-height: 60px;

    border: none;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;

    gap: 60px;
  }

  .catalog__show-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 246px;
    height: 349px;
    margin-top: 81px;
    padding: 52px 37px 38px 37px;

    border: 2px solid $color-white-smoke;
  }

  .catalog__show-more-text-main {
    margin: 49px 0 23px 0;

    font-size: 20px;
    line-height: 22px;
  }

  .catalog__show-more-text-secondary {
    margin-bottom: auto;
    padding-bottom: unset;

    font-size: 16px;
    line-height: 18px;
    font-family: $ff-arial;
  }
}

@media (min-width: $vp-1440) {
  .catalog {
    margin-bottom: 75x;
    padding: 0 110px;
  }

  .catalog__title {
    margin: 74px 0 85px 0;
  }

  .catalog__list {
    gap: 80px;
    row-gap: 60px;
  }

  .catalog__show-more {
    width: 165px;
    height: 349px;
    margin-top: 81px;
    padding: 52px 38px 40px 38px;

    border: 2px solid $color-white-smoke;
  }

  .catalog__show-more-text-main {
    margin: 49px 0 23px 0;

    font-size: 20px;
    line-height: 22px;
  }

  .catalog__show-more-text-secondary {
    margin-bottom: auto;

    font-size: 16px;
    line-height: 18px;
    font-family: $ff-arial;
  }
}
