.contacts--catalog {
  background-color: $color-white-smoke;
}

.contacts--form {
  background-color: $color-white-smoke;
}

.contacts__text-block {
  display: flex;
  min-height: 60px;
  padding: 26px 20px;

  gap: 2px;
}

.contacts__text-block-invite {
  display: block;
  min-width: 139px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-black;
  text-transform: uppercase;

  margin-block-end: 0;
  margin-block-start: 0;
}

.contacts__text-block-adress {
  min-width: 139px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: $ff-arial;
  color: $color-charcoal;
}

@media (min-width: $vp-768) {
  .contacts__text-block {
    justify-content: space-between;
    min-height: 80px;
    padding: 60px 70px 55px 70px;

    gap: unset;
  }

  .contacts__text-block-invite {
    width: 160px;

    font-size: 20px;
    line-height: 26px;
  }

  .contacts__text-block-adress {
    width: 180px;

    font-size: 16px;
    line-height: 20px;
  }
}
