.control {
  position: relative;

  display: block;
  padding-left: 46px;
}

.control__label {
  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: 18px;
  color: $color-default-black;
  text-transform: uppercase;
}

.control__mark {
  position: absolute;
  top: -5px;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  background-color: $color-default-white;
  border: 1px solid $color-very-light-gray;
}

.control:hover .control__mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control__input:focus + .control-mark {
  outline: 3px solid #83b3d3;
}

.control__input:active + .control-mark {
  background: rgba(255, 255, 255, 0.3);
}

/* Checkbox */
.control__input[type="checkbox"]:checked + .control__mark::before,
.control__input[type="checkbox"]:checked + .control__mark::after {
  content: "";
  position: absolute;

  width: 20px;
  height: 20px;

  background: url("../img/icons/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
}


/* Radio */
.control__input[type="radio"] + .control__mark {
  border-radius: 50%;
}

.control__input[type="radio"]:checked + .control__mark::before {
  content: "";
  position: absolute;

  width: 10px;
  height: 10px;

  background: #3f5e72;
  border-radius: 50%;
}
