.example {
  padding: 25px 20px 40px 20px;

  background-color: $color-whisper-2;
}

.example__title {
  margin: 0;
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.example__text {
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $ff-arial;
  color: $color-charcoal;
}

.example__indicators {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  background: inherit;
}

.example__indicators-item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 54px;

  background: inherit;
  border: 1px solid $color-very-light-gray;
  border-radius: 3px;
}

.example__indicators-item-value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  margin-inline-start: 0;
}

.example__indicators-item-desc {
  position: absolute;
  bottom: -14px;

  display: flex;
  align-items: center;
  width: 67px;
  padding: 0 10px;

  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $color-charcoal;

  background: inherit;
}

.example__indicators-item-price {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 34px;

  text-transform: uppercase;

  gap: 5px;
}

.example__indicators-item-price-value {
  margin-inline-start: 0;
}


@media (min-width: $vp-768) {
  .example {
    padding: 43px 30px 101px 30px;

    background-color: $color-default-white;
  }

  .example__title {
    margin-bottom: 63px;

    font-size: 60px;
    line-height: 60px;
  }

  .example__text {
    margin-bottom: 54px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__indicators {
    justify-content: unset;
    gap: 42px;
  }

  .example__indicators-item-price {
    margin: 0;
    margin-left: auto;
    width: unset;
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (min-width: $vp-1440) {
}
