.how-it-works {
  margin: 0 20px 49px 20px;
}

.how-it-works__title {
  margin-bottom: 40px;
  font-family: $ff-oswald;
  font-size: 36px;
  line-height: 40px;
  color: $color-default-black;
}

.how-it-works__list {
  display: flex;
  flex-direction: column;

  gap: 20px;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}

.how-it-works__item {
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 80px;

  list-style: none;

  &::before {
    content: "";
    position: absolute;
    left: 20px;

    display: block;
    width: 60px;
    height: 60px;

    background-color: $color-apple;
  }
}
