.how-it-works {
  position: relative;

  margin: 0 20px 49px 20px;
}

.how-it-works__title {
  margin: 0;
  margin-bottom: 40px;

  font-size: 36px;
  line-height: 40px;
  font-family: $ff-oswald;
  color: $color-default-black;
}

.how-it-works__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  gap: 20px;
}

.how-it-works__item {
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 80px;

  list-style: none;

  &::before {
    content: "";
    position: absolute;
    left: 0;

    display: block;
    width: 60px;
    height: 60px;

    background-color: $color-apple;
  }
}

.how-it-works__item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $ff-arial;
  color: $color-charcoal;
  z-index: 1;

  margin-block-end: 0;
  margin-block-start: 0;
}

@media (min-width: $vp-768) {
  .how-it-works {
    margin: 0;
    padding: 0 30px 47px 30px;

    border-bottom: 1px solid $color-whisper-4;
  }

  .how-it-works__title {
    margin-bottom: 72px;

    font-size: 60px;
    line-height: 60px;
  }

  .how-it-works__list {
    display: grid;

    grid-template-columns: auto auto;
  }

  .how-it-works__item {
    position: relative;

    display: flex;
    align-items: center;
    box-sizing: border-box;
    min-width: 230px;
    height: 280px;
    padding: 151px 0 0 0;

    list-style: none;

    &::before {
      top: 40px;
      left: 0;

      width: 80px;
      height: 80px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 115px;

      width: 112px;
      height: 280px;

      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .how-it-works__item--food {
    &::after {
      background-image: url(../../img/how-it-works-one.png);
    }
  }

  .how-it-works__item--boiling-water {
    &::after {
      background-image: url(../../img/how-it-works-two.png);
    }
  }

  .how-it-works__item--cutlery {
    &::after {
      background-image: url(../../img/how-it-works-three.png);
    }
  }

  .how-it-works__item--clock {
    &::after {
      background-image: url(../../img/how-it-works-four.png);
    }
  }

  .how-it-works__item-text {
    max-width: 245px;
    min-height: 72px;

    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: $vp-1440) {
}
