.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 39px 20px 0 20px;

  background-color: $color-white-smoke;
}

.main-footer__logo {
  width: 100%;
  padding-bottom: 32px;

  text-align: center;

  border-bottom: 1px solid $color-gainsboro;
}

.main-footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 63px;

  border-bottom: 1px solid $color-gainsboro;
}

.main-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 78px;

  text-decoration: none;
}

.main-footer__copyright-caption {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: $ff-arial;
  color: $color-charcoal;
  text-decoration: none;
}

@media (min-width: $vp-768) {
  .main-footer {
    flex-direction: row;
    padding: 58px 30px;

    background-color: $color-white-smoke;
  }

  .main-footer__logo {
    width: 100%;
    padding-bottom: unset;

    text-align: unset;

    border-bottom: none;
  }

  .main-footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: unset;

    border-bottom: none;
  }

  .main-footer__copyright-link {
    justify-content: right;
    align-items: center;
    width: 100%;
    height: unset;

    gap: 22px;
  }
}

@media (min-width: $vp-1440){
  .main-footer {
    padding: 58px 110px;
  }
}
