.product-card {
  padding: 19px 20px 25px 20px;

  border-bottom: 1px solid $color-whisper;
}

.product-card__card {
  display: flex;
  margin-bottom: 13px;
}

.product-card__block-info {
  width: 142px;
}

.product-card__img {
  width: 140px;
  height: 112px;

  object-fit: contain;
}

.product-card__info {
  margin: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $color-charcoal;
}

.product-card__title {
  display: flex;
  align-items: center;
  width: 76px;
  margin: 0;
  margin-bottom: 14px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-nero;
  text-transform: uppercase;
}

.product-card__info-item {
  display: flex;
  justify-content: space-between;
}

.product-card__info-value {
  margin-inline-start: 0;
}

@media (min-width: $vp-768) {
  .product-card {
    position: relative;

    margin-top: 81px;
    padding: 161px 37px 39px 37px;

    background-color: $color-white-smoke;
    border-bottom: none;
  }

  .product-card__card {
    display: flex;
    justify-content: center;
    margin-bottom: 33px;
  }

  .product-card__img {
    position: absolute;
    top: -45px;

    width: 168px;
    height: 200px;
  }

  .product-card__block-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
  }

  .product-card__info {
    width: inherit;

    font-size: 16px;
  }

  .product-card__title {
    width: 150px;
    margin: 0;
    margin-bottom: 21px;

    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .product-card__info-item {
    padding: 7px 0 9px 0;

    border-bottom: 1px solid $color-very-light-gray;;
  }
}

@media (min-width: $vp-1440) {
  .product-card {
    margin-top: 81px;
    padding: 162px 39px 40px 39px;
  }

  .product-card__block-info {
    width: 167px;
  }
}
