.product-card-more {
  padding: 13px 0 19px 0;

  border-bottom: 1px solid $color-very-light-gray;
}

.product-card-more__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: $color-nero;
  text-transform: uppercase;

  margin-block-end: 0;
  margin-block-start: 0;
}

.product-card-more__info {
  display: flex;
  justify-content: space-between;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-family: $ff-arial;
  color: $color-charcoal;

  margin-block-end: 15px;
  margin-block-start: 13px;
}


@media (min-width: $vp-768) {
  .product-card-more {
    padding: 26px 38px 28px 38px;
  }
}

@media (min-width: $vp-1440) {
  .product-card-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 17px 0;
  }

  .product-card-more__title {
    margin-right: auto;
  }

  .product-card-more__button {
    width: 244px;
  }

  .product-card-more__info {
    margin-right: 38px;
    width: 288px;
  }
}
