.program-item {
  padding: 0 20px 22px 20px;

  background: $color-white-smoke;
}

.program-item__title {
  margin: 0;
  padding: 30px 0 29px 71px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: $color-default-black;
  text-transform: uppercase;
}

.program-item__text {
  display: block;
  margin-bottom: 19px;
  padding-bottom: 23px;

  border-bottom: 1px solid $color-gainsboro;
}

.program-item__button {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: $color-default-black;
  text-transform: uppercase;
  text-decoration: none;
}

@media (min-width: $vp-768) {
  .program-item {
    padding: 77px 316px 57px 52px;
  }

  .program-item__title {
    margin-bottom: 24px;
    padding: 0;

    font-size: 36px;
    line-height: 36px;
  }

  .program-item__text {
    margin-bottom: 52px;

    font-size: 16px;
    line-height: 24px;
    color: $color-default-black;

    border-bottom: none;
  }

  .program-item__button {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $vp-1440) {
  .program-item {
    padding: 77px 52px 59px 52px;
  }

  .program-item__title {
    margin-bottom: 73px;
    margin-left: 162px;
  }

  .program-item__text {
    margin-bottom: 27px;
  }
}
