.programs {
  margin: 0 20px;
}

.programs__item {
  margin-bottom: 20px;
}

@media (min-width: $vp-768) {
  .programs {
    margin: 0 30px ;
    margin-bottom: 45px;
  }

  .programs__item {
    margin-bottom: 30px;
  }
}

@media (min-width: $vp-1440) {
  .programs {
    margin: 0 110px;
    display: flex;
    gap: 80px;
  }

  .programs__item {
    margin: 0;
  }
}
