.title-secondary {
  position: relative;

  width: 280px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: $color-default-black;

  margin-block-end: 0;
  margin-block-start: 0;

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    right: -20px;

    width: 53px;

    border: 2px solid $color-apple;
  }
}
