
// Viewports
//----------------------------------

$vp-320:                  320px;
$vp-768:                  768px;
$vp-1440:                 1440px;


// Palette
//----------------------------------

$color-default-black:     #000000;
$color-default-white:     #ffffff;

$color-black:             #111111;
$color-nero:              #222222;
$color-charcoal:          #444444;
$color-dim-gray:          #666666;
$color-very-light-gray:   #cdcdcd;
$color-gainsboro:         #d9d9d9;
$color-whisper:           #ebebeb;
$color-whisper-2:         #eaeaea;
$color-whisper-3:         #e7e7e7;
$color-whisper-4:         #e6e6e6;
$color-light-grey:        #d3d3d3;
$color-white-smoke:       #f2f2f2;
$color-apple:             #68b738;
$color-limeade:           #5eaa2f;
$color-light-coral:       #ff8282;



// Fonts
//----------------------------------

$ff-oswald:               "Oswald", "Arial", sans-serif;
$ff-arial:                "Arial", sans-serif;
