.example {
  padding: 25px 20px 40px 20px;
  background: #EAEAEA;
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: bold;
  margin-bottom: 40px;
}

.example__text {
  margin-bottom: 20px;
}

.example__indicators {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: inherit;
}

.example__indicators-item {
  position: relative;
  height: 54px;
  width: 122px;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: inherit;
}

.example__indicators-item-value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin-inline-start: 0;
}

.example__indicators-item-desc {
  position: absolute;
  background: inherit;
  bottom: -14px;
  width: 67px;
  padding: 0 10px;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #444444;
}

.example__indicators-item-price {
  margin-top: 34px;
  width: 100%;
  display: flex;
  gap: 5px;
  text-transform: uppercase;
  justify-content: center;
}

.example__indicators-item-price-value{
  margin-inline-start: 0;
}
