
.main-header__logo  {
  height: 65px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header__logo-link  {
  list-style: none;
  display: flex;
  align-items: center;
}

.main-header__logo-img {

}

.main-header__logo-text {

}

.main-header__toggle {
  background-color: #FFF;
  border: none;
  background-image: url(../img/toggle.svg);
  width: 24px;
  height: 18px;
  &--active{
    background-image: url(../img/toggle-active.svg);
  }
}

.main-header__nav {
  display: none;
  &--active {
    display: block;
  }
}
